body {
  background-color: lightblue;
  font-family: 'Josefin Sans', sans-serif;
 }

 .header {
    margin: 0 auto;
    color: rgb(73, 71, 54);
    text-align: center;
    
 }
 #playarea {
  background-color: lightblue;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
 }



h1 {
  font-size: 36px;
  font-family: arial;
}

#question {

  font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color:  rgb(73, 71, 54);
  }

label{
  display: inline;
}  

#next {
  text-align: center;
  display: inline-block;
  border-radius: 10%;
}

#result {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color:  burlywood;
}

input[name="option"] {
  float:left;

}

#form div{
  margin:auto;
  /* max-width: 500px; */
}

#form {
  font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 20px;
    color:  rgb(73, 71, 54);
}
#progressbar {
  margin: auto;
  margin-bottom: 20px;
  float: none; 
  width: 50%;
 }



input, select {
    vertical-align:middle;
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: #79BD9A;
    text-decoration: none !important; 
    color: white !important;
} 


#elephants{
  display: justify-content-center;
}